/* css/ifc.css */

.ifc-answer {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    opacity: 1;
}

.ifc-answer.new {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

#ifc-answers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ifc-answer {
    flex: 1 1 calc(25% - 20px);
}

.ifc-answer .card {
    background-color: #f0f0f0;
    border: none;
}

.ifc-answer .card-body {
    background-color: transparent;
}

.ifc-word-cloud-container {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 20px 0;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.ifc-word-cloud-container div[id^="ifc-word-cloud-"] {
    width: 600px;
    height: 400px;
    margin: 0 auto;
}