/* Answer style */
.ifc-answer {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    /* padding: 10px; */
    margin: 10px;
    /* box-sizing: border-box; */
    opacity: 1;
}

/* Hidden state for animation */
.ifc-answer.new {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

    @keyframes fadeIn {
        to {
            opacity: 1;
        }
    }

/* Grid definition */
#ifc-answers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Answer width */
.ifc-answer {
    flex: 1 1 calc(25% - 20px);
}

.ifc-answer .card {
    background-color: #f0f0f0;
    border: none;
}

.ifc-answer .card-body {
    background-color: transparent;
}

/* Responsiveness for smaller screens */
@media screen and (max-width: 1200px) {
    .ifc-answer {
        flex: 1 1 calc(25% - 20px);
    }
}

@media screen and (max-width: 992px) {
    .ifc-answer {
        flex: 1 1 calc(33.33% - 20px);
    }
}

@media screen and (max-width: 768px) {
    .ifc-answer {
        flex: 1 1 calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .ifc-answer {
        flex: 1 1 100%;
    }
}

/* Taulukon ulkoasun parantaminen */
.widefat.fixed.striped {
    width: 100%;
    border-collapse: collapse;
}

.widefat.fixed.striped th,
.widefat.fixed.striped td {
    padding: 10px;
    border: 1px solid #ddd;
}

.widefat.fixed.striped th {
    background-color: #f7f7f7;
    text-align: left;
}

.ifc-question-cell {
    position: relative;
    padding-right: 200px;
}

.ifc-question-cell .row-actions {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    padding-top: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    z-index: 1;
}

.ifc-question-cell:hover .row-actions {
    display: block;
}

.row-actions a {
    margin-right: 10px;
    color: #0073aa;
    text-decoration: none;
}

.row-actions a:hover {
    color: #00a0d2;
    text-decoration: underline;
}

/* Optional: Varmista, että row-actions eivät riko taulukon rakennetta */
.row-actions a:last-child {
    margin-right: 0;
}

/* Sanapilvenäkymä */
.ifc-word-cloud-container {
    text-align: center;
    margin: 20px 0;
    background-color: white; /* Valkoinen tausta */
    padding: 20px;
    border-radius: 5px;
}

.ifc-word-cloud-container div[id^="ifc-word-cloud-"] {
    width: 600px;
    height: 400px;
    margin: 0 auto;
}